@tailwind base;

@tailwind components;

.typebadge{
  @apply w-20; @apply block; @apply text-center;
  @apply p-1;
  @apply font-semibold;
  @apply rounded-full;
  @apply uppercase;
  @apply mt-1;
  @apply text-sm;
  
}

.typebadge-bug{

  background-color: olive;
  color: gainsboro

}

.typebadge-fairy{

  background-color: pink;
  color: darkslategrey

}
.typebadge-dragon{
  background-color: rgb(98, 13, 196);
  color: gainsboro

}
.typebadge-dark{
  background-color: darkslategray;
  color: gainsboro
}
.typebadge-electric{
  background-color: rgb(224, 203, 14);
  color: darkslategray

}
.typebadge-fighting{

  background-color: darkred;
  color: gainsboro


}
.typebadge-fire{

  background-color: orangered;
  color: gainsboro
}
.typebadge-flying{

  background-color: mediumslateblue;
  color: gainsboro


}
.typebadge-ghost{
  background-color: mediumpurple;
  color: gainsboro

}
.typebadge-grass{
  background-color: green;
  color: gainsboro
}
.typebadge-ground{
  background-color: peru;
  color: gainsboro


}
.typebadge-ice{

  background-color: #00adade5;
  color: gainsboro

}
.typebadge-normal{
  background-color: grey;
  color: gainsboro


}
.typebadge-poison{
  background-color: darkviolet;
  color: gainsboro


}
.typebadge-psychic{
  background-color: mediumvioletred;
  color: gainsboro
  

}
.typebadge-rock{
  background-color: saddlebrown;
  color: gainsboro


}
.typebadge-steel{

  background-color: ghostwhite ;
  color: darkslategray
}
.typebadge-water{
  background-color: dodgerblue;
  color: gainsboro
}

@tailwind utilities;


.active{
    background-color: gainsboro;  
}

#logo{
  max-width: 128px;
}